@charset "UTF-8";

body {
    font-family: 'Jua', sans-serif;
    background-color: #f7f7f7;
}
#section {
    max-width: 1200px;
    margin: 200px 20px 300px 200px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    text-align : center;
}
#form_id{
	margin-top : 300px;
	margin-left : 300px;
}

#sale_icon{
    width: 100px; 
    height: 100px; 
    
}
.file-label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
textarea{
    width: 600px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 10px; 
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
}

input{
    border-radius: 10px; 
    border: 1px solid #ccc;
    font-size: 15px;
}
#prod_id{
    width: 300px;
}
input #prod_price{
    width: 200px;
}
select{
    border-radius: 10px; 
    border: 1px solid #ccc;
    font-size: 15px;
    width: 150px;
    text-align: center;
}
#submit_id{
    float: right;
}

.textarea-container{
    display: flex;
    align-items: flex-start;
    gap : 30px;
}
#profile_img{
	border-radius: 50%; 
    width : 50px;
    height : 50px
}
#heart_id{
    height: 20px;
}
#chat_id{
    background-color: orange;
    width: 70px;
    border: white;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
}
