@charset "UTF-8"; 
#section_wrap {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
#section_wrap .create_account_form input,
#section_wrap .create_account_form select {
    width: 100%;
    margin: 5px 0;
}
#section_wrap .create_account_form input[type='button'],
#section_wrap .create_account_form input[type='reset'] {
    width: 48%;
    margin: 5px 1%;
}
