@charset "UTF-8"; 

    .card-body {
        text-align: center;
        width: 100%;
    }
    .profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .nav-pills .nav-link {
        background-color: #f8d7da;
        margin-bottom: 10px;
    }
    .nav-pills .nav-link.active {
        background-color: #f5c6cb;
    }
    .tab-content .card {
        margin-top: 20px;
    }
    .tab-content {
        width: 100%;
    }
    .btn-primary {
        background-color: #f5c6cb;
        border: none;
    }
    .btn-primary:hover {
        background-color: #f8d7da;
    }

	.card {
		margin-top: 300px;
		width: 300px;
	}
